<div class="container mt-5">
  <h2 class="mb-4 text-center">🌿 Air Quality Monitoring Dashboard</h2>

  <div class="row mb-3">
    <div class="col-md-6">
      <label for="state" class="form-label">State</label>
      <input type="text" id="state" class="form-control" placeholder="Enter State"
             [(ngModel)]="state">
    </div>

    <div class="col-md-6">
      <label for="city" class="form-label">City</label>
      <input type="text" id="city" class="form-control" placeholder="Enter City"
             [(ngModel)]="city">
    </div>
    
  </div>

  <div class="d-flex justify-content-end">
    <button class="btn btn-primary" (click)="search()">
      <i class="fa fa-search me-2"></i> Search
    </button>
  </div>
</div>